.file-tree {
    position: relative;
    width: 25%;
    flex-shrink: 0;
}

.file-tree-item {
    width: 100%;
    padding-left: calc(0.25rem + var(--depth, 0) * 1.3rem);
}

.file-tree-item-prefix {
    width: 20px;
    height: 20px;
    margin: 0 0.25rem 0 0;
}
